[Unit]
Description=TV remote python server
After=multi-user.target
Conflicts=getty@tty1.service

[Service]
Type=simple
ExecStart=/usr/bin/python3 /var/www/tvremote/tvserver.py
StandardInput=tty-force

[Install]
WantedBy=multi-user.target
