:root {
  --green: #00FF00;
  --white: #ffffff;
  --black: #000000;
}
 
* {
  color: #ffffff;
  font-family: helvetica;
}

body {
    background: #000000;
}

#status {
  font-size: 20px;
}
.Sleep {
  color: #000000;
  position: absolute;
  top: 120px;
  left: 200px;
  height: 50px;
  font-size: 20px;

}
#sleeptime{
  color: #000000;
  position: absolute;
  top: 120px;
  left: 20px;
  font-size: 20px;
  width: 150px;
}

.Power {
  position: absolute;
  top: 300px;
  left: 50px;
  height: 70px;
  width: 70px;
  border-radius: 50%;
  border: none;
  color: var(--btnFontColor);
  background-color: #ff0000;
}
.VolDown {
  position: absolute;
  top: 200px;
  left: 50px;
  height: 70px;
  width: 70px;
  border-radius: 50%;
  border: none;
  color: var(--btnFontColor);
  background-color: #ff3300;
}


.light-theme {
  --bg: var(--green);
  --fontColor: var(--black);
  --btnBg: var(--black);
  --btnFontColor: var(--white);
}

.dark-theme {
  --bg: var(--black);
  --fontColor: var(--green);
  --btnBg: var(--white);
  --btnFontColor: var(--black);
}